Q1) Explian the key features of python that make it a popular choice for programming .

Python's popularity as a programming language stems from a combination of features that make it beginner-friendly, powerful, and versatile. Here are some of the key reasons why Python is so widely used:

->Readability and Simplicity

->Extensive Standard Library

->Cross-Platform Compatibility

->Dynamic Typing and Binding

->Strong Community Support

->Object-Oriented Programming (OOP) Capabilities

->Wide Range of Libraries and Frameworks

->Versatility

->REPL Environment

->Community-Driven Updates and PEPs

Q2) Describe the role of prodefined keywords in Python and provide examples of how they are used in a program .

In Python, predefined keywords are special reserved words that have specific meanings and purposes within the language's syntax. These keywords cannot be used for anything other than their intended functions, such as naming variables, functions, or classes. Here's a breakdown of their role and some examples:

=> "Def" is used to define functions, which are reusable blocks of code. For example:

In [5]:
print("Hello Raja!")

Hello Raja!

=>if/else statements control the flow of your program based on conditions. For example:

In [6]:
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is greater than 5

=>Data Handling: Keywords like TrueandFalse represent boolean values and the null value.

In [7]:
is_sunny =True
is_raining = False
print(is_sunny)

True

=>Looping and Iteration: Keywords like for and while are used to create loops that execute code repeatedly.

In [8]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits: "bannna" 
print("fruit")

fruit

=>while loops execute code as long as a certain condition is met. For example:

In [9]:
i=1
while i <= 5:
    print("Loop iteration:",i)
    i += 1

Loop iteration: 1
Loop iteration: 2
Loop iteration: 3
Loop iteration: 4
Loop iteration: 5

Q3)Compare and contrast mutable and immutable objects in Python with examples

Mutable Objects:

Modifiable: The content or elements of a mutable object can be changed after it's created. Examples: Lists, dictionaries, and sets. Behavior: Python creates a single reference to the object's memory location. When you modify the object, you're essentially changing the data at that location.

In [10]:
my_set= {1,2,3}
my_set.add(7)
print(my_set)

{1, 2, 3, 7}

Immutable Objects:

Unmodifiable: The value of an immutable object cannot be changed after it's created. Examples: Strings, integers, floats, booleans, and tuples. Behavior: When you try to modify an immutable object, Python creates a new object in memory with the changes, and the original object remains untouched.

In [11]:
my_string = "Hello"
print(my_string)

Hello

Key Differences:

Modification: Mutable objects can be directly modified, while immutable objects cannot.

Q4) Discuss the different types of operators in Python and provide examples .

1. Arithmetic Operators:

* Addition

In [12]:
5+3

8

* Subtraction

In [15]:
10-2

8

* Multiplication

In [16]:
2*4

8

* Division

In [17]:
16/2

8.0

* Floor division

In [18]:
11//4

2

* Modulo

In [19]:
11%4

3

* Exponentiation

In [20]:
2**3

8

2. Comparison Operators :

* Equal to

In [21]:
x=3
y=3
#Check if x is equal to y
if x==y:
    print("x and y are equal")
else: 
    print("x and y are not equal")

x and y are equal

* Not equal to

In [22]:
x=3
y=5
#Check if x is equal to y
if x==y:
    print("x and y are equal")
else: 
    print("x and y are not equal")

x and y are not equal

* Greater than

In [24]:
x=3
y=5
#Check if x is greater and less to y
if x<y:
    print("x is less than y")

x is less than y

* Greater than or equal to

In [25]:
x=3
y=3
#Check if x is greater and less to y
if x>=y:
    print("x is greater than equal to y")

x is greater than equal to y

* Less than or equal to

In [26]:
x=5
y=5
#Check if x is greater and less to y
if x<=y:
    print("x is less than equal to y")

x is less than equal to y

3. Assignment Operators:

* Simple assignment

In [27]:
x=7
y=2
#Assign the value of x to y 
y=x
print(y)

7

* Add and assign

In [28]:
x=7
x+=5
print(x)

12

* Subtract and assign

In [29]:
x=14
x-=2
print(x)

12

* Multiply and assign

In [30]:
x=4
x*=3
print(x)

12

4. Logical Operators:

EXAMPLE

In [31]:
age=25
name="raja"
#Check if age is greater than 20nand name is equal to "raja"
if age > 20 and name=="raja":
    print("you are raja and you are above 20 years old")

you are raja and you are above 20 years old

5. Bitwise Operators:

* & (bitwise AND):

In [32]:
x=6 # 0110
y=5 # 0101
result = x & y # perfroms bitwise AND on x and y
print(result)

4

* | (bitwise OR): x | y

In [33]:
x=6 # 0110
y=5 # 0101
result = x | y # perfroms bitwise OR on x and y
print(result)

7

* ^ (bitwise XOR): x ^ y

In [34]:
x=6 # 0110
y=5 # 0101
result = x & y # perfroms bitwise XOR on x and y
print(result)

4

* ~ (bitwise NOT): ~x

In [35]:
x=6 # 0110
y=5 # 0101
result = x & y # perfroms bitwise NOT on x and y
print(result)

4

6. Membership Operators:

EXAMPLE

In [36]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits: "bannna" 
print("Yes,'banana' is a fruit")

Yes,'banana' is a fruit

7. Identity Operators:

EXAMPLE

In [37]:
x=5
y=10
z=5
#Check if x and y refer to the same object in memory
if x is y: 
    print("x and y are the same object")
else:
    print("x and y are differet objects")
#Check if x and z refer to the same object in memory
if x is z:
    print("x and z are the same object")
else:
    print("x and z are differet objects")

x and y are differet objects
x and z are the same object

Q5) Explain the concept of type casting in python with examples

Type casting in Python refers to the process of converting a value from one data type to another. This can be useful in various situations, such as:
1) Performing operations on different data types
2) Storing data in a specific format
3) Ensuring compatibility with functions or libraries

1. Explicit Type Casting:

* int(x):

In [39]:
int(5)

5

* float(x):

In [40]:
float(5)

5.0

* str(x):

In [41]:
str(5)

'5'

Q6) how do conditional statement work in python. Illustrate with examples.

Conditional statements in Python are fundamental building blocks for making decisions in your code

1. if statement:

In [42]:
age = 20
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote yet.")

You are eligible to vote.

2. if-else statement:

In [43]:
is_registered = False
if is_registered:
    print("You can access the system.")
else:
    print("Please register to access the system.")

Please register to access the system.

3. elif statement

In [44]:
grade = 85
if grade >= 90:
    print("Excellent!")
elif grade >= 80:
    print("Very good!")
else:
    print("Keep practicing!")

Very good!

Q7) Describe the different types loops in Python and their use cases with eamples .

1. for loops:

Use Cases:

1)Processing elements in a sequence one by one.

2)Traversing elements in a collection like a list, tuple, or string.

3)Performing calculations or operations on each item in a sequence.

In [45]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

2. while loops:

Use Cases:
    
1)Repeating code until a specific condition is met.

2)Creating user-interactive menus where the loop continues until the user chooses to exit.

3)Performing calculations or operations until a certain threshold is reached.

In [46]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

3.break statement

In [47]:
for i in range(5): 
    print(i)
    if i == 2:
        break  
print("Loop finished!")

0
1
2
Loop finished!

4. continue statement

In [48]:
for i in range(9):
    print(i)
    if i == 5:
        continue
print("loop finished")

0
1
2
3
4
5
6
7
8
loop finished